<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    @for (link of links; track link) {
        @if (link == "All Properties") 
        {   
            <a mat-tab-link
            (click)="activeLink = link"
            [active]="activeLink == link"> {{link}} </a>
        }
        @else {
            <a mat-tab-link disabled>{{link}}</a>
        }
    }

  </nav>
  <mat-slide-toggle (toggleChange)="toggleBackground()" color="#3f51b5">Change Theme</mat-slide-toggle>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <p>
    @for (item of this.appData; track $index) {
      {{item.busStopDuration}}
      {{item.propertyName}}
      {{item.propertyAddress}}
    }
  </p>
  <!-- <button mat-raised-button class="example-action-button" (click)="toggleBackground()">
    Toggle background
  </button>
  <button mat-raised-button class="example-action-button" (click)="addLink()">
    Add link
  </button> -->
